<!-- app/templates/about.html -->
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<body>
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4">
                <h2><u>About</u></h2>
                <p>This website is made using the Django framework and implements an extractive summariser based on the work by Ryan Kiros and his team.</p>
                <h3>Distributional hypothesis</h3>
                <p>This summariser is implementing word embeddings trained on a corpus from a recent Wikipedia dump and a dictionary of 20,000 words taken from the entire corpus, a section was used for training.
                The initial word embeddings were made from this dictionary of 20,000 of the most common words by using th
                </p>
                <p>The use of summaries is an integral part of daily life whether it is used in the headlines of articles to the averages of sports scores of a player in each season. They help define whether the media presented is worth examining further, as well as providing a valuable context which otherwise would cause confusion. The use of summaries is fundamental to all media types. However, I will be focussing on the role of summarisation on text media, specifically news articles. In 2018, Ofcom found 64% of adults use the internet for news (Jigsaw Research, 2018, p. 13); with the Guardian being the most viewed online with 5,358 per a week (Jigsaw Research, 2018, p. 41), as well as 23% of all UK users used the BBC website/app for news (Jigsaw Research, 2018, p. 20). These findings show the vast utilisation of digital news media in UK and its  reach to majority of the population therefore raises the need for more accurate summation of information due to vast number of users. </p>

        </div>
    </div>

</div>
{% endblock %}
</body>
</html>