<!-- app/templates/about.html -->
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<body>
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4">
                <h2><u>About</u></h2>
                <p>This website is made using the Django framework and implements an extractive summariser based on the work by Ryan Kiros and his team.</p>
                <h3>Distributional hypothesis</h3>
                <p>This summariser is implementing word embeddings trained on a corpus from a recent Wikipedia dump and a dictionary of 20,000 words taken from the entire corpus, a section was used for training.
                The initial word embeddings were made from this dictionary of 20,000 of the most common words by using th
                </p>
        </div>
    </div>

</div>
{% endblock %}
</body>
</html>