<!-- app/templates/index.html -->
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<body>
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4">
                <h2><u>Skippy: Skip-Thought vector extractive summariser</u></h2>
                    <p>Skippy is a final year project for the University of The West of England used for the creation of extractive summaries based on the research implementation of <a href="https://github.com/ryankiros/skip-thoughts">Ryan Kiros.</a></p>
                    <p>The aims of Skippy is to create informative summarise in English from either .txt or web URLS. click <a href="/summariser">here</a> to get started.</p>
                    <p>Skippy has first trained after a selection of 20,000 of English Wikipedias most frequent words on a corpus of around 1 million sentences for approximately two weeks and has shown to improve on semantics of summaries produced from a small user survey conducted by myself.</p>
            </div>
        </div>
</div>
{% endblock %}

</body>
</html>