<!-- app/templates/summary_output.html -->
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-4">
                <h2><u>Summary: </u></h2>
                <h2>Article URL:<a href="{{ article.get_url }}"></a> {{ article.get_url }}</h2>
                <p>{{ article.get_article }}</p>

            </div>
        </div>
        <div class="row">
            <h2>Summary metrics: </h2>
            <div class="col-sm-3">
                <h2>Compression rate:<p>{{ article.get_compression_rate }}</p></h2>
            </div>
            <div class="col-sm-3">
                <h2>Number of words total:<p>{{ article.get_total_words }}</p></h2>
            </div>
            <div class="col-sm-3">
                <h2>Number of words removed:<p>{{ article.get_total_words_removed }}</p></h2>
            </div>
        </div>
    <div class="row">
            <h2>Summarise a different article</h2>
            <div class="col-sm-12">
                <h2><a href="summariser/">article summariser</a></h2>
            </div>
        </div>
    </div>
{% endblock %}
