<!-- app/templates/summariser.html -->
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<body>
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>New URL summary</h2>
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p}}
                 <button type="submit" class="save btn btn-default">Summarise!</button>
    </form>
                <h2>Instructions</h2>
                <p>Enter any url of a news article, for best results please use a bbc.co.uk or thegaurdian.com url as the webscraper is tailored for those urls.</p>
        </div>
    </div>

</div>
{% endblock %}
</body>
</html>